// deprecated, transform to ../common/page-common

@require '../variables'
@require '../mixins'

.tool-box
  & + hr
    margin-top .3em
    margin-bottom .3em

.main-tips-wrapper
  height 100vh
  width 100%
  display table
  vertical-align middle

  p
    display table-cell
    vertical-align middle
    text-align center

.edit-page, .page-main
  padding $size-offset

  .main-header
    display block
    overflow-y hidden
    margin-bottom $main-header-margin-bottom
    &.overheight
      height $main-header-height
      overflow-y initial

      & + div
        margin-top $main-header-margin-bottom

  .title
    no-margin-v()
    height $main-header-height
    float left
    font-size: 20px
    font-weight: normal
    line-height: 1.6
    margin-right $size-offset
    width 100%
    vertical-align: middle
    cursor default

    &-info
      vertical-align middle
      font-size 14px
      height: 100%
      display: inline-block

    .breadcrumb
      float left
      padding: 0

      > .crumb
        font-size: 20px

  .pull-right, right-btn-block
    line-height 1
    .btn
      &:not(:last-child)
        margin-right $size-unit
