@require './variables'
@require './mixins'
@import './utilities/vision.styl'
@import './utilities/text.styl'
@import './utilities/size.styl'

// table
.no-border-spacing
  border-spacing 0 !important

.colon-after
  &:after
    content: ":"
