.rel-base
  position relative

.table-cell-middle
  display table-cell
  vertical-align middle
  text-align center

// the animation elem wrapper
.spread-wrapper
  &-x
    overflow-x hidden
  &-y
    overflow-y hidden
  overflow hidden

.pos-right
  position absolute
  right 0
